/*=============== ABOUT PAGE ===============*/
.about__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7rem;
}

.about__img {
  width: 380px;
  justify-self: center;
}

.about__title {
  margin-bottom: var(--mb-1);
  text-align: left;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__details {
  display: grid;
  row-gap: 1rem;
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.about__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}
