/*=============== BLOG PAGE ===============*/
.blog__container {
  row-gap: 1.8rem;
}

.blog__post {
  grid-template-columns: 0.8fr 1.2fr;
  column-gap: 2rem;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 1.2rem;
  padding: 1.4rem;
}

.blog__img {
  border-radius: 0.8rem;
}

.blog__details {
  font-size: var(--small-font-size);
  text-align: justify;
  margin-bottom: var(--mb-1);
}

.blog__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.blog__date {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-0-75);
}

.read__more {
  text-align: right;
}
